.player-board {
  background-color: #e8f3d8;
}
.player-board .fa-star {
  color: #8DC63F;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .counter span {
  padding: 0 5px 0 5px;
}
.player-board.spectator-mode * {
  background: #e8f3d8 !important;
}

.card {
  position: relative;
  width: 100px;
  height: 140px;
  margin: 5px;
  border-radius: 10px;
  font-family: "PointSalad";
}
.card[data-veggie="1"] .card-side {
  background-position-y: 0%;
}
.card[data-veggie="2"] .card-side {
  background-position-y: 20%;
}
.card[data-veggie="3"] .card-side {
  background-position-y: 40%;
}
.card[data-veggie="4"] .card-side {
  background-position-y: 60%;
}
.card[data-veggie="5"] .card-side {
  background-position-y: 80%;
}
.card[data-veggie="6"] .card-side {
  background-position-y: 100%;
}
.card[data-veggie="1"] .back .name {
  text-shadow: 2px 2px 0 #51004e;
}
.card[data-veggie="2"] .back .name {
  text-shadow: 2px 2px 0 #905501;
}
.card[data-veggie="3"] .back .name {
  text-shadow: 2px 2px 0 #00652e;
}
.card[data-veggie="4"] .back .name {
  text-shadow: 2px 2px 0 #71003f;
}
.card[data-veggie="5"] .back .name {
  text-shadow: 2px 2px 0 #735e17;
}
.card[data-veggie="6"] .back .name {
  text-shadow: 2px 2px 0 #820202;
}
.card[data-side="1"] .card-sides {
  transform: rotateX(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
}
.card .card-sides .card-side.front {
  color: #8dc63f;
  text-shadow: -1px 1px 1px white;
  font-weight: bold;
  font-size: 80%;
  background-image: url("img/point-side.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.front .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-sides .card-side.front .flex.wrap {
  flex-wrap: wrap;
}
.card .card-sides .card-side.front[data-index="1"] {
  background-position-x: 0%;
}
.card .card-sides .card-side.front[data-index="2"] {
  background-position-x: 5.8823529412%;
}
.card .card-sides .card-side.front[data-index="3"] {
  background-position-x: 11.7647058824%;
}
.card .card-sides .card-side.front[data-index="4"] {
  background-position-x: 17.6470588235%;
}
.card .card-sides .card-side.front[data-index="5"] {
  background-position-x: 23.5294117647%;
}
.card .card-sides .card-side.front[data-index="6"] {
  background-position-x: 29.4117647059%;
}
.card .card-sides .card-side.front[data-index="7"] {
  background-position-x: 35.2941176471%;
}
.card .card-sides .card-side.front[data-index="8"] {
  background-position-x: 41.1764705882%;
}
.card .card-sides .card-side.front[data-index="9"] {
  background-position-x: 47.0588235294%;
}
.card .card-sides .card-side.front[data-index="10"] {
  background-position-x: 52.9411764706%;
}
.card .card-sides .card-side.front[data-index="11"] {
  background-position-x: 58.8235294118%;
}
.card .card-sides .card-side.front[data-index="12"] {
  background-position-x: 64.7058823529%;
}
.card .card-sides .card-side.front[data-index="13"] {
  background-position-x: 70.5882352941%;
}
.card .card-sides .card-side.front[data-index="14"] {
  background-position-x: 76.4705882353%;
}
.card .card-sides .card-side.front[data-index="15"] {
  background-position-x: 82.3529411765%;
}
.card .card-sides .card-side.front[data-index="16"] {
  background-position-x: 88.2352941176%;
}
.card .card-sides .card-side.front[data-index="17"] {
  background-position-x: 94.1176470588%;
}
.card .card-sides .card-side.front[data-index="18"] {
  background-position-x: 100%;
}
.card .card-sides .card-side.front .icon {
  width: 24px;
  height: 24px;
}
.card .card-sides .card-side.front .icon.points {
  text-shadow: 1px 1px 1px #6d9d31;
  font-size: 90%;
}
.card .card-sides .card-side.front .multiple-set {
  position: relative;
  margin-top: 12px;
}
.card .card-sides .card-side.front .multiple-set .plus {
  position: relative;
  top: -8px;
  margin: -2px;
}
.card .card-sides .card-side.front .multiple-set [data-index="1"] {
  position: relative;
  top: -18px;
}
.card .card-sides .card-side.front .multiple-set [data-index="1"]:last-of-type {
  margin-right: -10px;
}
.card .card-sides .card-side.front .complete-set {
  position: relative;
}
.card .card-sides .card-side.front .complete-set.top {
  margin-top: 6px;
}
.card .card-sides .card-side.front .complete-set.top div:nth-child(2) {
  position: relative;
  top: -6px;
}
.card .card-sides .card-side.front .complete-set.bottom {
  margin-bottom: 6px;
}
.card .card-sides .card-side.front .complete-set.bottom div:nth-child(2) {
  position: relative;
  top: 6px;
}
.card .card-sides .card-side.back {
  background-image: url("img/veggie-side.jpg");
  transform: rotateX(180deg);
}
.card .card-sides .card-side.back .name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 12px;
  color: white;
  font-weight: bold;
}
.card .card-sides .card-side.back .name.rotated {
  transform: rotate(-180deg);
}
.card .final-score {
  position: absolute;
  top: -19px;
  left: 34px;
  box-shadow: 0 0 5px 2px white;
  border-radius: 50%;
  background-color: white;
  animation: card-final-score-animation 1s 1 forwards ease-in-out;
  transform-origin: center center;
}

@keyframes card-final-score-animation {
  0% {
    transform: scale(0);
  }
  66% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
[data-selectable-cards=true] .card {
  cursor: pointer;
}
[data-selectable-cards=true] .card.selected {
  box-shadow: 0 0 8px 8px white;
}
[data-selectable-cards=true] .card.selected .card-side {
  box-shadow: unset;
}

.player-table {
  z-index: 2;
  border-radius: 10px;
}
.player-table .player-name {
  text-shadow: 0 0 5px white;
  text-align: center;
  font-family: "PointSalad";
  text-transform: uppercase;
}
.player-table .player-points, .player-table .player-veggies {
  display: flex;
  justify-content: center;
}
.player-table .player-points {
  flex-wrap: wrap;
}
.player-table .player-veggie .card:not(:first-child) {
  margin-top: -120px;
}

#table #piles, #table .market-row {
  display: flex;
  justify-content: center;
}
#table #piles .table-space {
  position: relative;
}
#table #piles .table-space .pile-counter {
  position: absolute;
  top: -7px;
  right: -9px;
  text-shadow: 0 0 4px white;
  font-size: 80%;
  text-align: center;
  width: 18px;
}
#table .table-space {
  width: 110px;
  height: 150px;
  background: #FFFFFF20;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg") #005630;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

@font-face {
  font-family: "PointSalad";
  src: url("img/font/kosugimaru-regular-webfont.woff2") format("woff2"), url("img/font/kosugimaru-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.icon {
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
  background-image: url("img/icons.png");
  background-size: auto 100%;
  color: white;
  text-shadow: 2px 2px 1px #6d9d31;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon.points {
  background-position-x: 0;
}
.icon[data-veggie="1"] {
  background-position-x: 16.6666666667%;
}
.icon[data-veggie="2"] {
  background-position-x: 33.3333333333%;
}
.icon[data-veggie="3"] {
  background-position-x: 50%;
}
.icon[data-veggie="4"] {
  background-position-x: 66.6666666667%;
}
.icon[data-veggie="5"] {
  background-position-x: 83.3333333333%;
}
.icon[data-veggie="6"] {
  background-position-x: 100%;
}
