.player-board {
  background-color: #e8f3d8;
}
.player-board .fa-star {
  color: #8DC63F;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .counter span {
  padding: 0 5px 0 5px;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 140px;
  margin: 5px;
}
.card[data-side="0"] {
  background-image: url("img/point-side.jpg");
}
.card[data-side="0"][data-index="1"] {
  background-position-x: 0%;
}
.card[data-side="0"][data-index="2"] {
  background-position-x: 5.8823529412%;
}
.card[data-side="0"][data-index="3"] {
  background-position-x: 11.7647058824%;
}
.card[data-side="0"][data-index="4"] {
  background-position-x: 17.6470588235%;
}
.card[data-side="0"][data-index="5"] {
  background-position-x: 23.5294117647%;
}
.card[data-side="0"][data-index="6"] {
  background-position-x: 29.4117647059%;
}
.card[data-side="0"][data-index="7"] {
  background-position-x: 35.2941176471%;
}
.card[data-side="0"][data-index="8"] {
  background-position-x: 41.1764705882%;
}
.card[data-side="0"][data-index="9"] {
  background-position-x: 47.0588235294%;
}
.card[data-side="0"][data-index="10"] {
  background-position-x: 52.9411764706%;
}
.card[data-side="0"][data-index="11"] {
  background-position-x: 58.8235294118%;
}
.card[data-side="0"][data-index="12"] {
  background-position-x: 64.7058823529%;
}
.card[data-side="0"][data-index="13"] {
  background-position-x: 70.5882352941%;
}
.card[data-side="0"][data-index="14"] {
  background-position-x: 76.4705882353%;
}
.card[data-side="0"][data-index="15"] {
  background-position-x: 82.3529411765%;
}
.card[data-side="0"][data-index="16"] {
  background-position-x: 88.2352941176%;
}
.card[data-side="0"][data-index="17"] {
  background-position-x: 94.1176470588%;
}
.card[data-side="0"][data-index="18"] {
  background-position-x: 100%;
}
.card[data-side="1"] {
  background-image: url("img/veggie-side.jpg");
}
.card[data-veggie="1"] {
  background-position-y: 0%;
}
.card[data-veggie="2"] {
  background-position-y: 20%;
}
.card[data-veggie="3"] {
  background-position-y: 40%;
}
.card[data-veggie="4"] {
  background-position-y: 60%;
}
.card[data-veggie="5"] {
  background-position-y: 80%;
}
.card[data-veggie="6"] {
  background-position-y: 100%;
}

[data-selectable-cards=true] .card {
  cursor: pointer;
}
[data-selectable-cards=true] .card.selected {
  box-shadow: 0 0 8px 8px white;
}

.player-table {
  z-index: 2;
}
.player-table .player-name {
  text-shadow: 0 0 5px white;
}
.player-table .player-points, .player-table .player-veggies {
  display: flex;
  justify-content: center;
}
.player-table .player-veggie .card:not(:first-child) {
  margin-top: -120px;
}

#table #piles, #table .market-row {
  display: flex;
  justify-content: center;
}
#table #piles .table-space {
  position: relative;
}
#table #piles .table-space .pile-counter {
  position: absolute;
  top: -7px;
  right: -9px;
  text-shadow: 0 0 4px white;
  font-size: 80%;
  text-align: center;
  width: 18px;
}
#table .table-space {
  width: 110px;
  height: 150px;
  background: #FFFFFF20;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg") #005630;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

.icon {
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}
.icon[data-veggie] {
  background: url("img/veggie-icons.png");
}
.icon[data-veggie="1"] {
  background-position-x: 0%;
}
.icon[data-veggie="2"] {
  background-position-x: 20%;
}
.icon[data-veggie="3"] {
  background-position-x: 40%;
}
.icon[data-veggie="4"] {
  background-position-x: 60%;
}
.icon[data-veggie="5"] {
  background-position-x: 80%;
}
.icon[data-veggie="6"] {
  background-position-x: 100%;
}
