.card {
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    width: 100px;
    height: 140px;
    margin: 5px;

    &[data-side="0"] {
        background-image: url('img/point-side.jpg');

        @for $i from 1 through 18 {
            &[data-index="#{$i}"] {
              background-position-x: #{($i - 1) * 100% / 17};
            }
        }
    } 
    &[data-side="1"] {
        background-image: url('img/veggie-side.jpg');
    }

    @for $i from 1 through 6 {
        &[data-veggie="#{$i}"] {
          background-position-y: #{($i - 1) * 20%};
        }
    }
}

[data-selectable-cards="true"] {
    .card {
        cursor: pointer;

        &.selected {
            box-shadow: 0 0 8px 8px white;
        }
    }
}