.card {
    position: relative;
    width: 100px;
    height: 140px;
    margin: 5px;
    border-radius: 10px;
    font-family: 'PointSalad';

    @for $i from 1 through 6 {
        &[data-veggie="#{$i}"] {
            .card-side {
                background-position-y: #{($i - 1) * 20%};
            }
        }
    }

    &[data-veggie="1"] .back .name { text-shadow: 2px 2px 0 #51004e; }
    &[data-veggie="2"] .back .name { text-shadow: 2px 2px 0 #905501; }
    &[data-veggie="3"] .back .name { text-shadow: 2px 2px 0 #00652e; }
    &[data-veggie="4"] .back .name { text-shadow: 2px 2px 0 #71003f; }
    &[data-veggie="5"] .back .name { text-shadow: 2px 2px 0 #735e17; }
    &[data-veggie="6"] .back .name { text-shadow: 2px 2px 0 #820202; }

    &[data-side="1"] {
        .card-sides { 
            transform: rotateX(180deg);
        }
    }

    .card-sides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-style: preserve-3d;
        transition: transform 0.5s;

        .card-side {
            border-radius: 10px;
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-style: preserve-3d;      
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transform-origin: center center;

            &.front {
                color: #8dc63f;
                text-shadow: -1px 1px 1px white;
                font-weight: bold;
                font-size: 75%;
                background-image: url('img/point-side.jpg');
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;

                &>* {
                    pointer-events: none;
                    user-select: none;
                }

                .margin {
                    margin: 0 10px;
                }

                .flex {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.wrap {
                        flex-wrap: wrap;
                    }
                }

                @for $i from 1 through 18 {
                    &[data-index="#{$i}"] {
                    background-position-x: #{($i - 1) * 100% / 17};
                    }
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    min-height: 24px;

                    &.points {
                        text-shadow: 1px 1px 1px #6d9d31;
                        font-size: 100%;
                    }
                }

                .multiple-set {
                    position: relative;
                    margin-top: 12px;

                    .plus {
                        position: relative;
                        top: -8px;
                        margin: -2px;
                    }

                    [data-index="1"] {
                        position: relative;
                        top: -18px;
                        
                        &:last-of-type {
                            margin-right: -10px;
                        }
                    }
                    
                }

                .complete-set {
                    position: relative;

                    &.top {
                        margin-top: 6px;

                        div:nth-child(2) {
                            position: relative;
                            top: -6px;
                        }    
                    }

                    &.bottom {
                        margin-bottom: 6px;

                        div:nth-child(2) {
                            position: relative;
                            top: 6px;
                        }    
                    }

                }
            } 
            
            &.back {
                background-image: url('img/veggie-side.jpg');
                transform: rotateX(180deg);

                .name {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 10px 12px;
                    color: white;
                    font-weight: bold;

                    &.rotated {
                        transform: rotateZ(-180deg);                        
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                    }
                }
            }
        }
    }

    .final-score {
        position: absolute;
        top: -19px;
        left: 34px;
        box-shadow: 0 0 5px 2px white;
        border-radius: 50%;
        background-color: white;
        animation: card-final-score-animation 1s 1 forwards ease-in-out;
        transform-origin: center center;
    }
}

@keyframes card-final-score-animation {
    0% {
        transform: scale(0);
    }
    66% {
        transform: scale(1.5);
    }
    100% { 
        transform: scale(1);
    }
}

[data-selectable-cards="true"] {
    .card {
        cursor: pointer;

        &.selected {
            box-shadow: 0 0 8px 8px #005630;

            .card-side {
                box-shadow: unset;
            }
        }
    }
}