.player-board {
  background-color: #e8f3d8;

  .fa-star {
    color: #8DC63F;
  }

  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;
  
    .counter {
      flex: 1;
      display: flex;
      align-items: center;
  
      span {
        padding: 0 5px 0 5px;
      }
    }
  }
}