.player-table {
    z-index: 2;
    border-radius: 10px;
    
    .player-name {
        text-shadow: 0 0 5px white;
        text-align: center;
        font-family: "PointSalad";
        text-transform: uppercase;
    }

    .player-points, .player-veggies {
        display: flex;
        justify-content: center;
    }

    .player-points {
        flex-wrap: wrap;
    }

    .player-veggie {
        .card:not(:first-child) {
            margin-top: -120px;
        }
    }
}
