@import 'playerboards';
@import 'cards';
@import 'player-table';
@import 'table';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.png') #d5f492;
  background-repeat: repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

@font-face {
  font-family: 'PointSalad';
  src: url('img/font/kosugimaru-regular-webfont.woff2') format('woff2'),
       url('img/font/kosugimaru-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.bgabutton_blue {
  background: #005630;
  border: 1px solid #00301a;
}

.notouch-device .bgabutton_blue:hover {
  background: #006d3c;
}

.icon {
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
  background-image: url('img/icons.png');  
  background-size: auto 100%;
  color: white;
  text-shadow: 2px 2px 1px #6d9d31;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.points {
    background-position-x: 0;
  }

  @for $i from 1 through 6 {
    &[data-veggie="#{$i}"] {
      background-position-x: #{($i) * 100% / 6};
    }
  }
}

.card-tooltip-name {
  font-weight: bold;
}

#jump-controls {
  position: fixed;
  top: 50vh;
  z-index: 5;

  &.folded {
    .jump-link:not(.toggle) {
      display: none;
    }
  }

  .jump-link {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    margin: 10px 0;
    width: fit-content;
    cursor: pointer;
    height: 22px;
    padding: 2px 8px 2px 5px;
    background: white;

    .eye {
      width: 20px;
      height: 20px;
      mask: url('img/eye.svg') no-repeat center / contain;
      -webkit-mask: url('img/eye.svg') no-repeat center / contain;
      background: black;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &#jump-0 {
    border-color: black;
  }
}