@import 'playerboards';
@import 'cards';
@import 'player-table';
@import 'table';

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

html, .mode_3d #game_play_area_background {
  background: url('img/background.png') #d5f492;
  background-repeat: repeat;
}

.whiteblock {
  background: #FFFFFFAA;
}

@font-face {
  font-family: 'PointSalad';
  src: url('img/font/kosugimaru-regular-webfont.woff2') format('woff2'),
       url('img/font/kosugimaru-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.icon {
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
  background-image: url('img/icons.png');  
  background-size: auto 100%;
  color: white;
  text-shadow: 2px 2px 1px #6d9d31;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.points {
    background-position-x: 0;
  }

  @for $i from 1 through 6 {
    &[data-veggie="#{$i}"] {
      background-position-x: #{($i) * 100% / 6};
    }
  }
}

.card-tooltip-name {
  font-weight: bold;
}